@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected {
  -webkit-box-shadow: 0 0 0 100px #ffffff00 inset;
  -webkit-text-fill-color: #7a7979;
  caret-color: #ffffff;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.content {
  margin: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  margin: 15px;
  gap: 20px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  // background-color: #3e4396;
  border: 1px solid #3e4396;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #3e4396;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-track {
  margin: 2px 0;
  background-color: transparent;
}