save-exact=true
fund=false
audit=false
loglevel=error
prefer-offline=true
progress=false
package-lock=false
engine-strict=true
ignore-scripts=false
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-timeout=300000
